#sudoku {
    font-size: 30px;
    position: relative;
    margin: 0 auto;
    top: 150px;
    width: 363px;
}

#sudoku div table{
    float: left;
    border: black solid 1px;
}

td {
    border: black solid 1px;
    border-spacing: 0;
    position: relative;
    table-layout: fixed;
    width: 37px;
    height: 37px;
    text-align: center;
}
/*

th {
    border: black solid 1px;
    width: 369px;
}
*/

table {
}

input {
    width: 37px;
    height: 37px;
    border: 0;
    padding: 0;
    position: relative;
    top: -1px;
}

table, th{
    border: black solid 1px;
    border-collapse: collapse;
}


td table {
    border: black solid 2px;
}

/*
.t {
position: relative;
    //float: left;
}
.mr {
position: relative;
    //top: -4px;
}
.b {
position: relative;
    //top: -7px;
}
.l {
position: relative;
    //left: -1px;
}
.mc {
position: relative;
    //left: -4px;
}
.r {
position: relative;
    //left: -7px;
}
*/
